In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [45]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Read the CSV and Perform Basic Data Cleaning

In [46]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [47]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

   loan_amnt  int_rate  ...  hardship_flag debt_settlement_flag
0    10500.0    0.1719  ...              N                    N
1    25000.0    0.2000  ...              N                    N
2    20000.0    0.2000  ...              N                    N
3    10000.0    0.1640  ...              N                    N
4    22000.0    0.1474  ...              N                    N

[5 rows x 86 columns]

# Split the Data into Training and Testing

In [48]:
# Create our features
X = df.drop(columns=['loan_status', 'issue_d', 'next_pymnt_d', 'initial_list_status', 'home_ownership',\
                     'verification_status', 'issue_d', 'pymnt_plan', 'initial_list_status',\
                     'next_pymnt_d', 'application_type', 'hardship_flag', 'debt_settlement_flag'])

# Create our target
y = df['loan_status']

In [49]:
X.describe()

          loan_amnt      int_rate  ...  total_bc_limit  total_il_high_credit_limit
count  68817.000000  68817.000000  ...    68817.000000                6.881700e+04
mean   16677.594562      0.127718  ...    29734.128558                5.572240e+04
std    10277.348590      0.048130  ...    26795.394232                5.095845e+04
min     1000.000000      0.060000  ...      100.000000                1.270000e+02
25%     9000.000000      0.088100  ...    11600.000000                2.288000e+04
50%    15000.000000      0.118000  ...    22100.000000                4.200000e+04
75%    24000.000000      0.155700  ...    39300.000000                7.249900e+04
max    40000.000000      0.308400  ...   509400.000000                1.426964e+06

[8 rows x 76 columns]

In [50]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train

       loan_amnt  int_rate  ...  total_bc_limit  total_il_high_credit_limit
3903      1600.0    0.0881  ...         58300.0                     15000.0
28390     9000.0    0.0756  ...         24500.0                     40492.0
15470    10000.0    0.1033  ...         65400.0                     80642.0
4279     36000.0    0.1033  ...         85200.0                     30000.0
57514    18000.0    0.0881  ...         36500.0                     96715.0
...          ...       ...  ...             ...                         ...
49100     8400.0    0.0646  ...         52800.0                     66252.0
20609    30000.0    0.0646  ...        137300.0                     84967.0
21440    20000.0    0.1180  ...         13700.0                     12000.0
50057    11625.0    0.1447  ...         22700.0                     66941.0
5192     20000.0    0.1033  ...         62100.0                    199166.0

[51612 rows x 76 columns]

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [52]:
from sklearn.preprocessing import StandardScaler
# Creating StandardScaler instance
scaler = StandardScaler()
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [53]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [54]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

# Fit the model
rf_model = rf_model.fit(X_train_scaled, y_train)
# Obtain predictions
predictions = rf_model.predict(X_test_scaled)


acc_score = accuracy_score(y_test, predictions)
acc_score

0.995640802092415

In [56]:
# Display the confusion matrix
# YOUR CODE HERE

cm = confusion_matrix(y_test, predictions)
cm

array([[   33,    68],
       [    7, 17097]])

In [57]:
# Print the imbalanced classification report
# YOUR CODE HERE

print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

   high_risk       0.82      0.33      0.47       101
    low_risk       1.00      1.00      1.00     17104

    accuracy                           1.00     17205
   macro avg       0.91      0.66      0.73     17205
weighted avg       1.00      1.00      0.99     17205

In [58]:
# List the features sorted in descending order by feature importance
# YOUR CODE HERE

sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.06648739296372094, 'total_pymnt'),
 (0.0647670223961635, 'total_pymnt_inv'),
 (0.06259318043949615, 'total_rec_prncp'),
 (0.06247709424555133, 'total_rec_int'),
 (0.0578414100175205, 'last_pymnt_amnt'),
 (0.02029549863774072, 'dti'),
 (0.01947552016393179, 'max_bal_bc'),
 (0.017824777541145666, 'out_prncp'),
 (0.017809516185779237, 'out_prncp_inv'),
 (0.017795367889931517, 'mo_sin_old_rev_tl_op'),
 (0.016708934914261703, 'revol_bal'),
 (0.016610159394928995, 'installment'),
 (0.016568016738919514, 'bc_open_to_buy'),
 (0.016564056968331325, 'total_bal_ex_mort'),
 (0.016253493489551362, 'mo_sin_old_il_acct'),
 (0.015887609686620684, 'tot_hi_cred_lim'),
 (0.015739559338254865, 'tot_cur_bal'),
 (0.01564327523536255, 'bc_util'),
 (0.015439184302048988, 'avg_cur_bal'),
 (0.015421263664000533, 'total_bal_il'),
 (0.014705863016715724, 'total_il_high_credit_limit'),
 (0.014350135619596735, 'total_rev_hi_lim'),
 (0.014308873314801792, 'total_bc_limit'),
 (0.013995551201685878, 'il_util'),
 (0.013868797927470514, 'annual_inc'),
 (0.01335660206363471, 'int_rate'),
 (0.0133539996679676, 'total_rec_late_fee'),
 (0.013286704948697554, 'total_acc'),
 (0.013227393156812798, 'mths_since_recent_bc'),
 (0.01309262793177817, 'mths_since_rcnt_il'),
 (0.012961035443054053, 'all_util'),
 (0.012547138485044759, 'loan_amnt'),
 (0.01193540645854042, 'num_il_tl'),
 (0.011249483492075036, 'mths_since_recent_inq'),
 (0.010740359004217262, 'num_rev_accts'),
 (0.010622002481872046, 'mo_sin_rcnt_rev_tl_op'),
 (0.01061653981847566, 'acc_open_past_24mths'),
 (0.010194135410822841, 'open_acc'),
 (0.010095669431749233, 'total_cu_tl'),
 (0.009975877401097547, 'pct_tl_nvr_dlq'),
 (0.009857761662847889, 'num_bc_tl'),
 (0.009721552504780387, 'mo_sin_rcnt_tl'),
 (0.009707019183892177, 'num_sats'),
 (0.00952762728486241, 'inq_last_12m'),
 (0.009412865481252333, 'num_op_rev_tl'),
 (0.008750780889309933, 'num_actv_rev_tl'),
 (0.00854654889112175, 'num_actv_bc_tl'),
 (0.008499592553628739, 'num_rev_tl_bal_gt_0'),
 (0.008350649682450364, 'open_rv_24m'),
 (0.00803478712049797, 'open_il_24m'),
 (0.007913205744924646, 'percent_bc_gt_75'),
 (0.0077935723548285835, 'num_bc_sats'),
 (0.007735970180115022, 'inq_fi'),
 (0.007490626646273655, 'num_tl_op_past_12m'),
 (0.007266337203732277, 'open_act_il'),
 (0.00724270903364897, 'mort_acc'),
 (0.006704361989801822, 'open_acc_6m'),
 (0.005780266686948323, 'open_rv_12m'),
 (0.005521553061283684, 'tot_coll_amt'),
 (0.005483483925613757, 'inq_last_6mths'),
 (0.005099831579912126, 'open_il_12m'),
 (0.004339010595095621, 'delinq_2yrs'),
 (0.004056315254286514, 'num_accts_ever_120_pd'),
 (0.0033979938299565295, 'pub_rec_bankruptcies'),
 (0.0033461041575376612, 'pub_rec'),
 (0.001780919020726484, 'collections_12_mths_ex_med'),
 (0.0016228883574159185, 'num_tl_90g_dpd_24m'),
 (0.0003291346338821327, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'delinq_amnt'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [ ]:
# Train the EasyEnsembleClassifier
# YOUR CODE HERE

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [ ]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

0.9316600714093861

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

array([[   93,     8],
       [  983, 16121]])

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.92      0.94      0.16      0.93      0.87       101
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17104

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205